/* body {
  margin: 0;
 font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}


 Navbar 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

 Hero 
.hero {
  text-align: center;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.hero h1 {
  font-size: 48px;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.3s;
  position: relative;
}

.nav-links a:hover {
  
  color: #38bdf8;
  
}

 Active link 
.active {
  border-bottom: 2px solid #38bdf8;
  color: #38bdf8;
}

.nav-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}
*/

.classeHome {
  background-color: #000000;
  color: #5524e6;
}

#idHome {
  background-color: #000000;
  color: #523c94;
}

